<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}可即时代{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="keywords" content="可即,ktv,智慧ktv,ktv订包房,ktv酒水,预订,团购,ktv线上化,扫码支付,一键连WIFI,卡券">
    <meta name="description" content="可即时代,致力于用互联网为KTV降本增效">
    <link rel="shortcut icon" href="//img.ktvms.com/picture/favicon.ico">
</head>
<body>
    <div id="app-container">
        {% block main %}{% endblock %}
    </div>

    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    {% block script %}
        {% for src in _script %}
            <script src="{{src}}"></script>
        {% endfor %}
    {% endblock %}
</body>
</html>
